body {
  background-color: #fefefe;
  color: #080808;
  font-size: 16pt
}

nav {
  background-color: rgba(0,0,0,.5);
  float: left;
  position: fixed;
  width: 100%;
}

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

.center, .caption {
  text-align:center;
}

h1 {
  font-size: 2em;
  font-weight: bold;
  padding-top: 50px;
  padding-bottom: 25px;
}

h3 {
  font-size: 1em;
  font-family: 'Montserrat', Arial, Verdana, sans-serif;
  font-weight: 400;
  line-height: 125%;
  padding-top: 15px;
  padding-bottom: 35px;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

a {
  font-family: 'Montserrat', Arial, Verdana, sans-serif;
  text-decoration: none;
}

a:link {
  color: #FFFFFF;
}

a:hover {
  background-color: rgba(0, 0, 0, .2);
}
article {
  padding-top: 100px;
}

p {
  padding-bottom: 25px;
  font-family: 'Montserrat', Arial, Verdana, sans-serif;
  font-weight: 300;
  font-size: .85em;
  line-height: 125%;
}

.container {
  margin: 0 auto;
  width: 50%;
}

.caption {
  font-size: 0.75em;
  font-style: italic;
  font-family: 'Montserrat', Arial, Verdana, sans-serif;
  padding-top: 5px;
}

.author {
  font-size: .85em;
  font-family: 'Montserrat', Arial, Verdana, sans-serif;
  font-weight: bold;
  padding-bottom: 35px;
}
